.contanier {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20%;
  top: 25vh;
}
.right {
  border: 1px solid black;
  width: 20%;
  height: 50vh;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
}
.right p {
  width: 50%;
  height: 50vh;
}
.rand_num {
  width: 40%;
  height: 10vh;
  border: 1px solid black;
  position: relative;
  bottom: 140px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
#numbers {
  outline: red;
  height: 40vh;
  width: 25%;
  border: 1px solid black;
  position: relative;
  right: 40%;
  top: 35px;
  font-size: 2rem;
}
.left {
  width: 15%;
  height: 40vh;
  border: 1px solid black;
  position: relative;
  right: 40%;
  top: 35px;
  font-size: 7rem;
  line-height: 2;
  text-align: center;
}
.text {
  width: 40%;
  position: relative;
  left: 35%;
  top: 30%;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: yellowgreen;
}
span {
  color: red;
  font-weight: bold;
}
.text::after {
  content: "😏";
}