html {
    font-size: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    position: relative;
    left: 35%;
}
.box {
    text-align: center;
}
span {
    font-size: 5rem;
}
.round {
    width: 250px ;
    height: 250px;
    border-radius: 250px;
    background-color: yellow;
    margin: 0 auto;
    font-size: 6rem;
    text-align: center;
    line-height: 12rem;
    position: relative;
    top: 6rem;
    right: 2.3rem;
}
.javob {
    height: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    position: relative;
    top: 3rem;
    right: 28.5rem;
    width: 100%;
}
.ques {
    height: 15vh;
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 4rem;
    position: relative;
    bottom: 12rem;
}
