.box {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.h1 {
  position: relative;
  left: 44%;
  font-family: fantasy;
  width: 15%;
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.baraban {
  object-fit: contain;
  height: 80vh;
}
.strelka {
  object-fit: contain;
  height: 20vh;
  position: relative;
  left: 47.3%;
  bottom: 60vh;
}
