.game_display {
  width: 60%;
  margin: 0 auto;
  height: 90vh;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.colum {
  width: 33.333333333333%;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
}

.colum img {
  transition: 1s;
  width: 100%;
  object-fit: contain;
  height: 18vh;
  z-index: -5;
}
.border_red {
  width: 60%;
  height: 18vh;
  border: 5px solid red;
  margin: -24.5% auto;
  z-index: 2;
}
.score {
  width: 10%;
  height: 10vh;
  border: 4px solid black;
  margin: 41% auto;
  text-align: center;
  color: red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 50px;
}
.score_ani {
  width: 60%;
  height: 20vh;
  background-color: greenyellow;
  margin: 0% auto;
  z-index: 10;
  text-align: center;
  font-size: 3rem;
  color: aliceblue;
  animation: 1s animate ease-in-out ;
  display: none;
}
@keyframes animate {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}